.App {
  text-align: center;
  position: fixed;
}

blobbox {
  width: 80vmin;
  height: 56vmin;
  top: 50%;
  left: 50%;
  position: fixed;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  transition: 2s;
}

blobbox.mini {
  width: 30vmin;
  height: 21vmin;
  top: 1%;
  left: 5%;
}

.logo {
  height: 24vmin;
  position: fixed;
  pointer-events: none;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.body {
}

.link {
  color: #b318f0;
  display: none;
}

.blob {
  content: '';
  display: block;
  outline: none;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-size: 1600% 1600%;
  transform-origin: 50% 50% -1;
  transform-style: preserve-3d;
  perspective: 1000px;
  animation:
    transform 40s ease-in-out infinite both alternate,
    movement 30s ease-in-out infinite both;
}

@keyframes transform {
    0%,
  100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; }
   14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; }
   28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; }
   42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; }
   56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; }
   70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; }
   84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; }
}

@keyframes movement {
  0%,
100% { transform: translateY(0%) translateZ(-1); }
 50% { transform: translateY(4%) translateZ(-1) rotateY(10deg); }
}
