.App {
  text-align: center;
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  font-size: 16px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.header {
  position: fixed;
}


appbody {
  color: #000000;
  opacity: 100%;
  position: absolute;
  padding-top: 10vh;
  width: 90vw;
  height: 90vh;
  max-width: 50em;
  min-width: 10em;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.4s cubic-bezier(0.01, 0.3, 0.01, 1.0);
}

.headmargin {
  position: fixed;
  height: 3em;
}

.column {
  display: block;
  margin-bottom: 1.2em;
}

label {
  display: none;
}

input[type='text'],
textarea {
  -webkit-appearance: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  min-width: 15em;
  padding: 0.75em 1em 0.7em;
  font-size: 1.2em;
  color: #2d2d2d;
  caret-color: #0a84ff;
  border: 0;
  outline: 0;
  border-radius: 8px;
  background: #f4f4f4;
  box-shadow: inset 2px 2px 3px #cbcbcb,
    inset -2px -2px 3px #ffffff;
  transition: 0.1s;
}

input[type='text'] {
  height: 2.5em;
  margin-bottom: -0.5em;
}

input[type='text'].short {
  width: 95%;
  min-width: 14.25em;
  margin-right: 5%;
}

textarea {
  height: 28vh;
  min-height: 7.5em;
  margin-bottom: -0.8em;
}

input[type='text']:focus,
textarea:focus {
  box-shadow: inset 4px 4px 6px #cbcbcb,
    inset -4px -4px 6px #ffffff;
}

::-webkit-input-placeholder {
  color: #2d2d2d;
  font-size: 0.75em;
  font-weight: 600;
  position: relative;
  top: -6px;
  left: -6px;
  opacity: 1;
  transition: 0.1s;
}

:-ms-input-placeholder {
  color: #2d2d2d;
  font-size: 0.75em;
  font-weight: 600;
  position: relative;
  top: -6px;
  left: -6px;
  opacity: 1;
  transition: 0.1s;
}

::placeholder {
  color: #2d2d2d;
  font-size: 0.75em;
  font-weight: 600;
  position: relative;
  top: -6px;
  left: -6px;
  opacity: 1;
  transition: 0.1s;
}

:focus::-webkit-input-placeholder {
  opacity: 0;
}

:focus:-ms-input-placeholder {
  opacity: 0;
}

:focus::placeholder {
  opacity: 0;
}

.invisible {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0%;
}

.link {
  color: #b318f0;
  display: none;
}

.blob {
  content: '';
  position: fixed;
  outline: none;
  border: none;
  cursor: pointer;
  background-size: 1600% 1600%;
  transform-origin: 50% 50% -1;
  transform-style: preserve-3d;
  perspective: 1000px;
  animation:
    transform 30s ease-in-out infinite both alternate,
    movement 20s ease-in-out infinite both;

  width: 80vmin;
  height: 56vmin;
  min-width: 200px;
  min-height: 140px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition: all 0.4s cubic-bezier(0, 0.3, 0.01, 1.0);
}

@keyframes transform {

  0%,
  100% {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
  }

  14% {
    border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
  }

  28% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  }

  42% {
    border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
  }

  56% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
  }

  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
  }

  84% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
  }
}

@keyframes movement {

  0%,
  100% {
    transform: translateY(0%) translateZ(-1);
  }

  50% {
    transform: translateY(4%) translateZ(-1) rotateY(10deg);
  }
}

.blob.mini {
  width: 180vw;
  height: 63vh;
  min-width: 300px;
  min-height: 105px;
  top: -148vh;
  left: -148vw;
}

.blob.large {
  width: 900vw;
  height: 315vh;
  min-width: 300px;
  min-height: 105px;
  top: -148vh;
  left: -148vw;
  pointer-events: none;
}

.logo {
  height: 24vmin;
  min-height: 60px;
  position: fixed;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition: all 0.4s cubic-bezier(0.01, 0.3, 0.01, 1.0);
}

thankblob {
  transition: all 0.4s cubic-bezier(0.01, 0.3, 0.01, 1.0);
}

.thankmessage {
  position: absolute;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.submit {
  margin-top: 1em;
  margin-bottom: 1.5em;
  color: #4d4d4d;
  font-size: 1.2em;
  font-weight: 600;
  cursor: pointer;
  width: 60px;
  height: 30px;
  border: 0;
  outline: 0;
  border-radius: 8px;
  background: #f4f4f4;
  box-shadow: 5px 5px 6px #cbcbcb,
    -5px -5px 6px #ffffff;
}

@media screen and (max-width: 480px) {
  .App {
    font-size: 13px;
  }
}
