/* ---------------- Styles ---------------- */
.App {
  text-align: center;
  min-height: 100%;
  overflow: auto;
  display: block;
}

.header {
  position: fixed;
}

.op {}

.scLock {}

.appbody {
  color: #2d2d2d;
  display: block;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  width: 92vw;
  min-width: 10em;
  min-height: 90%;
  max-width: 50em;
  pointer-events: none;
}

.form {
  display: block;
  -webkit-transition: opacity 0.4s cubic-bezier(0.01, 0.3, 0.01, 1.0);
  -o-transition: opacity 0.4s cubic-bezier(0.01, 0.3, 0.01, 1.0);
  transition: opacity 0.4s cubic-bezier(0.01, 0.3, 0.01, 1.0);
}

.headmargin {
  position: fixed;
  height: 3em;
}

.column {
  display: block;
  position: relative;
  border-radius: 12px;
  margin-bottom: 0.4em;
  color: #b3b3b3;
  background-color: #f4f4f4;
  border: 1px solid #d7d7d7;
}

.column:hover,
.column:focus-within {
  color: #2d2d2d;
}

.column:hover {
  border-color: #a5a4a2;
}

.column:focus-within {
  border-color: #656462;
}

.prColumn {
  color: #2d2d2d;
  border-color: #a5a4a2;
  margin-bottom: 0;
}

.prColumn .column {
  border: 0;
  margin-bottom: 0;
}

.label {
  font-size: 1.6em;
  padding: 0.35em 1em 1em;
  text-align: start;
  transition: 0.1s;
  cursor: pointer;
}

.subinfo {
  position: absolute;
  top: 0.25em;
  left: 8.5em;
  font-size: 0.58em;
}

.required {
  margin-top: 1.2em;
  background-color: #e95151;
  font-family: 'Noto Sans JP', 'Yu Gothic Medium', '游ゴシック Medium', YuGothic, '游ゴシック体', sans-serif;
  font-size: 0.5em;
  font-weight: 700;
  color: #f4f4f4;
  border-radius: 4px;
  border: 0;
  padding: 0 0.6em 0.08em;
}

.prColumn .required {
  margin-top: 1.5em;
}

.filled {
  background-color: #d6d6d6;
}

.visible {
  pointer-events: auto;
  opacity: 100%;
}

.invisible {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0%;
}

.fixed {
  position: fixed;
}

.blob {
  content: '';
  background-color: #000000;
  position: fixed;
  outline: none;
  border: none;
  cursor: pointer;
  background-size: 1600% 1600%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-animation:
    transform 30s ease-in-out infinite both alternate,
    movement 20s ease-in-out infinite both;
  animation:
    transform 30s ease-in-out infinite both alternate,
    movement 20s ease-in-out infinite both;
  width: 80vmin;
  height: 56vmin;
  min-width: 200px;
  min-height: 140px;
  transform-origin: translate(calc(50vw - 50%), calc(50vh - 50%));
  transform: translate(calc(50vw - 50%), calc(50vh - 50%));
  -webkit-transition: all 0.4s cubic-bezier(0, 0.3, 0.01, 1.0);
  -o-transition: all 0.4s cubic-bezier(0, 0.3, 0.01, 1.0);
  transition: all 0.4s cubic-bezier(0, 0.3, 0.01, 1.0);
}

.blob.mini {
  transform: translate(-60%, calc(-65%)) scale(2.25, 0.65);
  margin: 0;
}

.blob.large {
  width: 900%;
  height: 315%;
  min-width: 300px;
  min-height: 105px;
  top: -148%;
  left: -148%;
  pointer-events: none;
}

.logo {
  height: 24vmin;
  min-height: 60px;
  position: fixed;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transform: translate(calc(50vw - 50%), calc(50vh - 50%));
  -webkit-transition: all 0.4s cubic-bezier(0.01, 0.3, 0.01, 1.0);
  -o-transition: all 0.4s cubic-bezier(0.01, 0.3, 0.01, 1.0);
  transition: all 0.4s cubic-bezier(0.01, 0.3, 0.01, 1.0);
}

.thankblob {
  -webkit-transition: all 0.4s cubic-bezier(0.01, 0.3, 0.01, 1.0);
  -o-transition: all 0.4s cubic-bezier(0.01, 0.3, 0.01, 1.0);
  transition: all 0.4s cubic-bezier(0.01, 0.3, 0.01, 1.0);
}

.thankmessage {
  position: absolute;
  pointer-events: none;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.ag:hover {
  text-decoration: underline;
}

.agreementswitch {
  font-size: 1.12em;
  padding: 0.75em 1em;
  background: none;
  color: inherit;
  margin: 0.25em;
}

.agreementswitch:hover {
  text-decoration: underline;
}

.agreementswitch:active {
  opacity: 0.5;
}

.checkbox {
  margin-top: 1em;
  margin-left: 2em;
}

.agreement {
  position: absolute;
  top: -0em;
  left: 9em;
  font-size: 0.7em;
  color: #2d2d2d;
  text-decoration: inherit;
}

.buttonBelow {
  margin-top: 3em;
  margin-bottom: 3em;
}

.inlineBlock {
  display: inline-block;
}

.footer {
  background-color: #ececec;
  text-align: right;
  -webkit-transition: opacity 0.4s cubic-bezier(0.01, 0.3, 0.01, 1.0);
  -o-transition: opacity 0.4s cubic-bezier(0.01, 0.3, 0.01, 1.0);
  transition: opacity 0.4s cubic-bezier(0.01, 0.3, 0.01, 1.0);
}

.linkbox {
  display: inline-block;
  width: 12em;
  margin: 2em 1em;
  font-size: 1.1em;
  text-align: right;
}

.link {
  display: block;
  text-align: right;
  cursor: pointer;
  margin-bottom: 0.25em;
}

.about {
  font-size: 0.90em;
  font-style: normal;
}

.twitter:hover {
  color: #00a0ee;
  text-decoration-color: #00a0ee;
}

.content {}

.ed {}

/* ---------------- Text ---------------- */
.serif {
  font-weight: 500;
  font-family: 'Noto Sans JP', 'Noto Serif JP', Yu Mincho, '游明朝体', Hiragino Mincho Pro W3, 'ヒラギノ明朝 Pro W3', 'Shippori Mincho', Kozuka Mincho Pro, Kozuka Mincho Std, '小塚明朝 Pro R', '小塚明朝 Std R', 'ＭＳ Ｐ明朝', MS PMincho, Georgia, Times, serif;
}

.serifBold {
  letter-spacing: 0.02em;
  font-weight: 900;
  font-family: 'Noto Sans JP', 'Noto Serif JP', Yu Mincho, '游明朝体', Hiragino Mincho Pro W3, 'ヒラギノ明朝 Pro W3', 'Shippori Mincho', Kozuka Mincho Pro, Kozuka Mincho Std, '小塚明朝 Pro R', '小塚明朝 Std R', 'ＭＳ Ｐ明朝', MS PMincho, Georgia, Times, serif;
}

/* ---------------- Animation ---------------- */

@-webkit-keyframes transform {

  0%,
  100% {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
  }

  14% {
    border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
  }

  28% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  }

  42% {
    border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
  }

  56% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
  }

  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
  }

  84% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
  }
}

@keyframes transform {

  0%,
  100% {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
  }

  14% {
    border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
  }

  28% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  }

  42% {
    border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
  }

  56% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
  }

  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
  }

  84% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
  }
}

@-webkit-keyframes movement {

  0%,
  100% {
    -webkit-transform: translateY(0%) translateZ(-1);
    transform: translateY(0%) translateZ(-1);
  }

  50% {
    -webkit-transform: translateY(4%) translateZ(-1) rotateY(10deg);
    transform: translateY(4%) translateZ(-1) rotateY(10deg);
  }
}

@keyframes movement {

  0%,
  100% {
    -webkit-transform: translateY(0%) translateZ(-1);
    transform: translateY(0%) translateZ(-1);
  }

  50% {
    -webkit-transform: translateY(4%) translateZ(-1) rotateY(10deg);
    transform: translateY(4%) translateZ(-1) rotateY(10deg);
  }
}

/* ---------------- Tags ---------------- */
hr {
  border-top: 2px dotted;
  border-bottom: 0;
  margin: 0 1em;
  opacity: 0.5;
  transition: 0.1s;
}

input[type='text'],
input[type='url'],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  width: 100%;
  min-width: 10em;
  padding: 0.7em 1em;
  border: 0;
  border-radius: 8px;
  outline: 0;
  font-size: 0.75em;
  color: #2d2d2d;
  caret-color: #0a84ff;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input[type='text'],
input[type='url'] {
  height: 2.5em;
  margin-bottom: -0.5em;
}

input[type='url'] {
  letter-spacing: 0;
  font-weight: 500;
  font-family: 'Courier Prime', Consolas, 'Courier New', Courier, Monaco, monospace, 'BIZ UDGothic', "Hiragino Sans", "Hiragino Kaku Gothic ProN", '游ゴシック Medium', YuGothic, '游ゴシック体', sans-serif;
}

a {
  color: #2d2d2d;
  text-decoration-color: #2d2d2d;
  letter-spacing: 0;
  font-weight: 700;
  font-family: 'Lora', 'Noto Sans JP', 'Yu Gothic Medium', '游ゴシック Medium', YuGothic, '游ゴシック体', sans-serif;
  font-style: italic;
}

textarea {
  line-height: 1.75em;
  margin-bottom: -0.8em;
  resize: none;
  transition: 0.1s;
}

input[type='text']:focus,
input[type='url']:focus,
textarea:focus {
  -webkit-box-shadow: inset 2px 2px 3px #cbcbcb,
    inset -2px -2px 3px #ffffff;
  box-shadow: inset 2px 2px 3px #cbcbcb,
    inset -2px -2px 3px #ffffff;
}

button,
input[type='checkbox'] {
  cursor: pointer;
  outline: 0;
  border: 0;
  background-color: #f4f4f4;
}

button[type='submit'] {
  width: 5em;
  height: 2.5em;
  border: 1px solid #d7d7d7;
  border-radius: 6px;
  color: #2d2d2d;
  font-family: 'Noto Sans JP', 'Yu Gothic Medium', '游ゴシック Medium', YuGothic, '游ゴシック体', sans-serif;
  font-size: 1.2em;
  font-weight: 700;
}

button[type='submit']:hover {
  border-color: #3e3e3e;
  background-color: #3e3e3e;
  color: #f4f4f4;
}

button[type='submit']:active {
  border-color: #2d2d2d;
  background-color: #2d2d2d;
  color: #f4f4f4;
}

a {
  text-decoration-line: none;
}

a:hover {
  text-decoration-line: underline;
}

/* ---------------- Responsive ---------------- */
@media screen and (max-width: 480px) {

  html,
  body {
    font-size: 13px;
  }

  .column {
    padding: 0.2em 0.7em 0.65em;
  }

  .subinfo {
    top: 0;
    left: 7.5em;
  }

  input[type='text'],
  input[type='url'],
  textarea {
    font-size: 16.25px;
    transform: scale(0.8);
    width: 106.5%;
    padding: 0.5em 0.5em;
    transform: translateX(-3%);
  }

  .prColumn .required {
    top: 0.75em;
    left: 4em;
  }

  .checkbox {
    margin-top: 1.25em;
    margin-left: 0;
  }

  .agreement {
    top: 0.35em;
    left: 6em;
  }
}
