theme-100 = #000000
theme-90 = #2d2d2d
theme-80-pink = #656462
theme-60 = #b3b3b3
theme-60-pink = #a5a4a2
theme-40 = #d7d7d7
theme-30 = #ececec
theme-10 = #555555
theme-requirement = #e95151
theme-neumorphism-shine = #ffffff
theme-neumorphism-shadow = #cbcbcb
